* {
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: transparent !important;
}

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, ol, ul, li, label {
    color: $color-grey-15;
}

h1, h2, h3, h4, h5 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

ol, ul {
    font-size: 0.9em;
}

button:focus {
    outline: none;
}

button, input {
    cursor: pointer;
}

body {
    background-color: $color-lightest-blue;
}

// Input Placeholder Style
::-webkit-input-placeholder { /* Chrome */
    color: $color-grey-70;
    font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $color-grey-70;
    font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $color-grey-70;
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: $color-grey-70;
    font-weight: 300;
}
