# Chef generated my.cnf for instance mysql-db

[client]
default-character-set          = utf8
port                           = 3306
socket                         = /var/run/mysql-db/mysqld.sock

[mysql]
default-character-set          = utf8

[mysqld]
user                           = mysql
pid-file                       = /var/run/mysql-db/mysqld.pid
socket                         = /var/run/mysql-db/mysqld.sock
port                           = 3306
datadir                        = /var/lib/mysql-db
tmpdir                         = /tmp
log-error                      = /var/log/mysql-db/error.log
!includedir /etc/mysql-db/conf.d

[mysqld_safe]
socket                         = /var/run/mysql-db/mysqld.sock